body, html {
    background-color: #70CF51;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

player {
    background-image: url('../images/player/idle_down.png');
    background-size: 100% 100%;
    width:100px; height:100px;
}

bomb {
    background-image: url('../images/bomb_idle.gif');
    background-size: 100% 100%;
    width:100px; height:100px;
}